$pramary-font-face: 'Noto Sans KR', Sans-serif;
$pramary-font-color: #222;
$pramary-font-size: 14px;
$pramary-font-weight: 400;
$pramary-bg-color: #fff;
$screen-mobile: 720px;
$screen-tablet: 1024px;